* {
  box-sizing: border-box;
}

body {
  background-color: #3eaaf5;
}

form {
  place-items: center;
  width: 700px;
  margin: calc((100vh - 650px) / 2) auto;
  padding: 0 35px;
  border: 1px dashed white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 36px;
}

h1 + p {
  font-size: 20px;
}

p ~ div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form > div:nth-of-type(2) {
  margin: 15px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 300px;
  height: 50px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  color: #8a8a8a;
}

input::placeholder {
  color: #8a8a8a;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 3px solid #0282dd;
}

.radio-container {
  margin-top: 15px;
  padding: 15px 10px;
  border: 1px solid white;
  justify-content: space-between;
}

.radio-container > div {
  width: 540px;
}

input[type="radio"] {
  cursor: pointer;
  margin: auto;
}

label {
  font-size: 20px;
  cursor: pointer;
}

.radio-container p {
  margin: 5px 0;
}

.checkbox-container {
  justify-content: center;
  gap: 10px;
}

.checkbox-container label {
  font-size: 1rem;
  margin: 16px 0;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #28d2d1;
  cursor: pointer;
}

@media (max-height: 650px) {
  form {
    margin: auto;
  }
}
